
.side-nav{
    position: sticky;
    top: 0;
    left: 0;
    /* background-color:  rgb(199, 201, 111); */
    /* height: auto; */
    background-color:var(--form-bg);
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    /* width: 7vmin; */
}
.side-nav .menu-icon{
 
    background-color: var(--bg-green);
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    width:100%;
   
}
.side-nav .menu-icon .menu-header{
   display: flex;
   justify-content: space-between;
  align-items: center;
  padding : 10px 12px;
 text-transform:capitalize;
}
.side-nav .menu-icon .menu-header .auth{
    display:flex;
    align-items: center;
    justify-content: center;
}
.auth > div {
 margin:0 .3rem;
}
.side-nav .menu-icon svg{
    transition: .3s ease;
    width: 40px;
    height:40px;
    background: white;
   border-radius:50%;
   color:gray;
}
.side-nav .nav-links a svg{
    
    color: white;
    /* padding: .6rem; */
    /* width: 5vmin;
    height: 5vmin; */
    /* font-size: 2.5vmin; */
    transition: all .3s ease;
    text-align: center;
}
.side-nav .nav-links{
    display: flex;
    flex-direction: column;
    transition:  .2s ease;
    padding: 8px 20px;
}
*{
    transition: all .2s ease;
    
}
.side-nav .nav-links a{
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all .2s ease;
   padding: 6px 10px;
    margin: .3rem auto;

}
.side-nav .nav-links a:hover{
    /* margin-left:5px ; */
    /* box-shadow: 0 0 30px 2px rgb(31, 158, 137); */
    background-color: rgba(7, 141, 146, 0.349);
    border-radius: 10%;
    box-shadow:
    0 3px 5px 1px var(--form-bg);
    /* transform: scale(.9); */

    /* color:rgb(253, 61, 2); */
}
.side-nav .nav-links a:active{
    /* border-radius: 20%; */
    transform: scale(.9);
}
.side-nav .nav-links a{
	padding: 3px 6px;
    /* font-size: 2.1vmin; */
    /* text-align: center; */
    /* margin-right: 10px; */
    /* line-height: 50px; */
}
.side-nav .nav-links a.active{
   
    box-shadow:
    0 3px 5px 1px black;
    border-radius: .3vmin;
    border-bottom: 4px groove white;
    /* padding-left: 10px; */
}
